<!DOCTYPE html>
<html>
<head></head>
<body>
<form action="/users" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="name"> Username:</label> <input type="text" name="user[name]">
  <label for="email"> E-mail:</label> <input type="text" name="user[email]">
  <label for="password">Password:</label> <input type="password" name="user[password]">
  <button><input type="submit" value="Submit">Submit</button>
</form>
</body>
</html>